/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body styling */
body {
    background-color: #ffffe0; /* Light yellow background */
    color: #333;
    line-height: 1.6;
    margin: 30px 30px 30px 40px; /* Top, Right, Bottom, Left */
    padding: 20px;
}

/* Header styling */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: blue; /* Changed to blue */
}

.profile-img {
    height: 200px;
    width: 160px;
}

/* Section title styling */
.section-title {
    font-size: 22px;
    margin-bottom: 10px;
    color: blue; /* Changed to blue */
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

/* Profile list styling */
.profile-list {
    list-style-type: none;
    margin: 10px 0;
}

/* Table styling */
.hobbies-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.hobbies-table td {
    padding: 10px;
}

.hobby-img {
    height: 200px;
    width: 300px;
}

/* Social media styling */
.social-media {
    margin-top: 10px;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form and button styling */
.body-form {
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 800px;
    max-width: 100%;
    max-height: 90vh;
    overflow-y: auto;
}

.form-container {
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type="text"],
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

textarea {
    resize: none;
}

button {
    border-radius: 25px;
    background-color: #010001;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0;
}

button:focus {
    outline: none;
}

p {
    margin: 15px 0;
}